# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# test output
.coverage

# Source / output data
*.csv
*.dat
*.xls
*.pdf
.DS_Store

# Ignore data output regardless of format
tests/test_data/data_pipeline_inputs/output/**
sample_input_files/output/*
access*yaml

# Do not ignore the csv files inside the sample and test data directories. The
# sample_input_files directory contains yamls that will not be ignored because
# they are not considered in the rules above.
!sample_input_files/human/**
!sample_output_files/*
!tests/test_data/data_pipeline_inputs/human/**

# IDE
.idea
*.sw[po]
.vscode

# sphinx / readthedocs
doc/build/*
